<div class="header">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Teams On Duty
									</h5>

									<span class="h2 font-weight-bold mb-0"> 350,897 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
										<i class="ni ni-active-40"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Task to be completed
									</h5>

									<span class="h2 font-weight-bold mb-0"> 2,356 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
										<i class="fas fa-tasks"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Approval Required
									</h5>

									<span class="h2 font-weight-bold mb-0"> 924 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
										<i class="far fa-thumbs-up"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Staff on leave
									</h5>

									<span class="h2 font-weight-bold mb-0"> 395 </span>
								</div>

								<div class="col-auto">
									<div class=" icon icon-shape bg-gradient-info text-white rounded-circle shadow">
										<i class="fas fa-bed"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
    <div class= "row">
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Teams Status</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartTeamStat"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Team Location</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartTeamLoc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row row">
        <div class="col col-sm-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">SLA Achievement</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartOverallSLA"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
